@font-face{
    font-family: hipfirefont;
    src: url(fonts/DK\ Sheepman.ttf);
}

body {
    margin: 0;
    box-sizing: border-box;
}


#page {
    width: 100vw;
    display: flex;
    min-height: 100vh;

}

#leftbar {
    min-width: 35vw;
}

#rightbar {
    min-width: 65vw;
}

#splash {
    background-image: url('images/sign-up-splash.jpg');
    height:100%;
    position: relative;
    background-position: center;
}

#logo {
    background: rgb(0 0 0 /40%);
    position: absolute;
    width: 100%;
    top:25%;
    font-family: hipfirefont, Arial, Helvetica, sans-serif;
    color:white;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}


#roselogo {
    fill: white !important;

}
